# Arquivos compilados do Java
*.class
*.jar
*.war
*.ear

# Arquivos de log
*.log

# Pastas de build
/target/
/bin/

# Arquivos do Eclipse
.classpath
.project
.settings/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
